<div class="widget">
  <div class="widget-header">
    <div class="title-container">
      <h3>Device health data</h3>
      <h4 class="widget-subtitle">Live data</h4>
    </div>
    <a href="#" class="view-details">View details</a>
  </div>
  <div class="widget-content">
    <table>
      <thead>
        <tr>
          <th>Issue</th>
          <th>Devices</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>
            <span class="key-bullet">&#8226;</span> <!-- Bullet Point -->
            {{ getDisplayName(item.key) }}
          </td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
